@using System.Web.Mvc.Ajax
@model IEnumerable<T5.ModelsLayer.Sale>
<div id="sales-table-container">
    <table class="table table-bordered text-center">
        <tr>
            <th>Id</th>
            <th>DateTime</th>
            <th>Client</th>
            <th>Product</th>
            <th>Manager</th>
            @if (User.IsInRole("admin"))
            {
                @:<th>Actions</th>
            }
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.DateTime</th>
                <th>@item.Client.FirstName @item.Client.LastName</th>
                <th>@item.Product.Name</th>
                <th>@item.Manager.LastName</th>
                @if (User.IsInRole("admin"))
                {
                    @:<th>@Html.ActionLink("Edit", "EditSale", new {id = item.Id}) | @Ajax.ActionLink("Delete", "DeleteSale", new {id = item.Id}, new AjaxOptions {UpdateTargetId = "sales-table-container"})</th>
                }
            </tr>
        }
    </table>
</div>