@model IEnumerable<T5.Stuff.Sale>

<div id="sales-table-container">
    <table class="table table-bordered text-center">
        <tr>
            <th>Id</th>
            <th>DateTime</th>
            <th>Client</th>
            <th>Product</th>
            <th>Manager</th>
            @*TODO: role dependent shit must go here*@
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.DateTime</th>
                <th>@item.Client.FirstName @item.Client.LastName</th>
                <th>@item.Product.Name</th>
                <th>@item.Manager.LastName</th>
                @*TODO: and here*@
            </tr>
        }   
        </table>
</div>