@model T5.Models.SalesModel
@{
    ViewBag.Title = "Sales";
}



<h2>Sales:</h2>

<p>
    @Html.DropDownList("managersDropDownList", new SelectList(Model.Managers.Select(m => m.LastName)), "All managers")
    <input type="datetime-local" value="@DateTime.MinValue" style="width: 100px;" textmode="Date" id="FromDate"/>
    <input type="datetime-local" value="@DateTime.MaxValue" style="width: 100px;" textmode="Date" id="ToDate"/>
</p>

<img src="@Url.Action("GetChart")" alt="Chart"/>

<table id="salesTable" class="table">
    <tr>
        <th>Id</th>
        <th>DateTime</th>
        <th>Client</th>
        <th>Manager</th>
    </tr>
</table>

@*TODO: create 2 scripts: for pagination and for diagram drawing*@

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('managersDropDownList').change(function (e){
            GetEmployeeUsingAjax();
        });
        GetEmployeeUsingAjax();
        });
    function GetEmployeeUsingAjax() {           
            $.ajax({
                type: 'GET',
                url: '@Url.Action("FilteredSales")',
                data: { },
                dataType: 'json',
                success: function (data) {
                    var rows = '';
                    $.each(data, function (i, item) {
                        rows += "<tr>"
                                  + "<td>" + item.Id + "</td>"
                                  + "<td>" + item.DateTimeString + "</td>"
                                  + "<td>" + item.Client.FirstName + " " + item.Client.LastName + "</td>"
                                  + "<td>" + item.Manager.LastName + "</td>"
                                  + "</tr>";
                    });
                    $('#salesTable').append(rows);
                 },
                error: function (emp) {
                    alert('error');
                }
            });
        }    
    </script>
}