@using T5.Helpers
@model T5.Models.SalesModel
@{
    ViewBag.Title = "Sales";
}


<h2>Sales:</h2>

<p>
    @Html.DropDownList("managersDropDownList", new SelectList(Model.Managers.Select(m => m.LastName)), "All managers")
    <input type="datetime-local" value="@DateTime.MinValue" style="width: 100px;" textmode="Date" id="FromDate"/>
    <input type="datetime-local" value="@DateTime.MaxValue" style="width: 100px;" textmode="Date" id="ToDate"/>
</p>

<img src="@Url.Action("GetChart")" alt="Chart"/>

<div id="sales-table-container">
    <table id="sales-table" class="table">
        <tr>
            <th>Id</th>
            <th>DateTime</th>
            <th>Client</th>
            <th>Manager</th>
        </tr>
    </table>
</div>

@Html.Partial("_PageNumberButtonGroup", Model.PageInfo)
@*
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("UpdateSales", new {page = x}))
</div>
*@

@*TODO: create 2 scripts: for pagination and for diagram drawing*@

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @*LIST UPDATE*@
    <script type="text/javascript">
    $(document).ready(function () {
        
        $('#managersDropDownList').change(function (e){
            updateSalesTable();
        });
        updateSalesTable();
        //updatePageInfo();
        });
    function updatePageInfo(pageNumber = 1)
    {
        var jsonData = JSON.stringify(pageNumber);
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdatePageInfo", "Statistics")',
            data: {jsonData},
            dataType: 'html',
            success: function (data){
                    $('#pages-info').html(data);
                },
            error: function (jQXHR, textStatus, errorThrown)
            {
                console.log("An error occurred while trying to contact the server: " + jQXHR.status + " " + textStatus + " " + errorThrown);                
            }
        });
    }
    
    function updateSalesTable(pageNumber = 1) { 
        
        var jsonData = JSON.stringify(pageNumber);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("UpdateSalesTable")',
                data: {jsonData},
                dataType: 'html',
                success: function (data) {
                    $('#sales-table-container').html(data);
                    updatePageInfo(pageNumber);
                 },
                error: function (jQXHR, textStatus, errorThrown){
                    console.log('An error occurred while trying to contact the server for Sales: ' + jQXHR.status + ' ' + textStatus + ' ' + errorThrown);                
                }
            });
        }    
    </script>
}