@model T5.Models.SalesModel

@{
    ViewBag.Title = "Sales";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<h2>Sales:</h2>

<p>
    @Html.DropDownList("managers-dropdown-list", new SelectList(Model.Managers.Select(m => m.LastName)), "All managers")
    <input name="from-date-picker" onchange="updateSalesTable();" type="date" value="@DateTime.MinValue.ToString("yyyy-MM-dd")" textmode="Date" id="from-date-picker"/>
    <input name="to-date-picker" onchange="updateSalesTable();" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" textmode="Date" id="to-date-picker"/>
</p>

<img src="@Url.Action("GetChart")" alt="Chart" class="center"/>
@Html.Partial("_SalesTable", Model.Sales)
@Html.Partial("_PageNumberButtonGroup", Model.PageInfo)

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @*LIST UPDATE*@
    <script type="text/javascript">
    $(document).ready(function () {
        
        $('#managers-dropdown-list').change(function (){
            updateSalesTable();
        });
        updateSalesTable();
    });
    
    function fromDateChanged()
    {
        updateSalesTable();
    }
        
    function toDateChanged()
    {
        updateSalesTable();
        /*jQuery.ajax({
                url: 'Url.Action("UpdateSalesTable")',
                type: 'POST',
                data: $('#to-date-picker').serialize(),
                success: function (response) {
                    //TODO: updateSalesTable
                }
            });*/
    }
    
    function getFilterParameters()
    {
            return {
                ManagerLastName: $('#managers-dropdown-list :selected').text(),
                FromDateString: $('#from-date-picker').val(),
                ToDateString: $('#to-date-picker').val(),
                PageNumber: 0,
            };
    }
    
    function updatePageInfo(filter)
    {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("UpdatePageInfo")',
            data: filter,
            dataType: 'html',
            success: function (data){
                    $('#pages-info').html(data);
                }, 
            error: function (jQXHR, textStatus, errorThrown)
            {
                console.log('An error occurred while trying to contact the server: ' + jQXHR.status + ' ' + textStatus + ' ' + errorThrown);                
            }
        });
    }
    
    function updateSalesTable(pageNumber = 1) { 
        const filter = getFilterParameters();
        filter.PageNumber = pageNumber;
        console.log("Dates: " + filter.FromDate + " " + filter.ToDate);
        //var jsonData = JSON.stringify(pageNumber);
        $.ajax({
            type: 'GET',
            url: '@Url.Action("UpdateSalesTable")',
            data: filter,
            //dataType: 'html',
            success: function (data) {
                $('#sales-table-container').html(data);
                updatePageInfo(filter);
            },
                error: function (jQXHR, textStatus, errorThrown){
                console.log('An error occurred while trying to contact the server for Sales: ' + jQXHR.status + ' ' + textStatus + ' ' + errorThrown);                
            }
        });
    }    
    </script>
}