@model T5.Models.SalesModel
@{
    ViewBag.Title = "Sales";
}
<h2>Sales diagram:</h2>
<p>
    @Html.ActionLink("Update", "UpdateChart", "Home")
</p>

<p>
    @Html.DropDownList("managers", new SelectList(Model.Managers), "All managers")
    <input type="datetime-local" value="@DateTime.Now.Date" style="width: 100px;" textmode="Date" id="FromDate"/>
    <input type="datetime-local" value="@DateTime.Now.Date" style="width: 100px;" textmode="Date" id="ToDate"/>
    <img src="@Url.Action("GetChart")" alt="Chart"/>
</p>


@*<div>
    $2$<h2>Some header above a graph</h2>
    @{ var myChart = new Chart(width: 1000, height: 600)
           .AddTitle("Employee's Efficiency")
           .AddSeries(
               name: "Employee",
               xValue: new[] {"Peter", "Andrew", "Julie", "Mary", "Dave"},
               yValues: new[] {2, 6, 4, 5, 3})
           .Write(); }
</div>*@